[user]
    name = Patrick White
    email = patrickwhite.256@gmail.com
[include]
    path = ~/.gitconfig.local # custom name/email
[alias]
    st = status
    ci = commit
    co = checkout
    b = branch
    f = fetch
    logp = log -p --word-diff -n 3
    lg = log -n 20 --graph --pretty=format:'%Cgreen%h %Cblue%an%Creset %s %Cred(%cr)%Creset'
    lgall = log --graph --pretty=format:'%Cgreen%h %Cblue%an%Creset %s %Cred(%cr)%Creset'
    delete-merged = "!git co master && git pull && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
    df = diff --color-words
    root = rev-parse --show-toplevel
[core]
    excludesfile = ~/.gitignore
    editor = vim
    pager = "diff-so-fancy | less --tabs=4 -RFX"
    hooksPath = ~/.git_hooks
[merge]
    tool = vimdiff
[diff]
    mnemonicprefix = true
[difftool]
    prompt = false
[pull]
    rebase = true
[color]
    ui = true
